@font-face {
    font-family: "samim";
    src: url("samim.ttf") format("truetype");
}
body{
    border:0;
    margin:0;
    padding:0;
    font-family: samim;
    font-size: 13px;
}
.text{
    margin-top:140px ;
    border:1px solid #646464;
    width: 50%;
    margin-right:auto ;
    margin-left: auto;
}