                        @font-face {
                            font-family: "samim";
                            src: url("./Samim.ttf") format("truetype");
                        }
                        
                        body {
                            font-family: samim;
                            margin: 0;
                            padding: 0;
                            color: #646464;
                            direction: rtl;
                        }
                        
                        a {
                            text-decoration: none;
                            color: #646464;
                        }
                        
                        ul {
                            list-style: none;
                        }
                        
                        textarea,
                        button,
                        input {
                            outline: none;
                            font-family: samim;
                            font-size: 12px;
                        }
                        /* main components */
                        
                        #component-place {
                            margin-top: 20px;
                        }
                        /* right and left components style */
                        
                        @media screen and (max-width: 601px) {
                            .component {
                                width: 100%;
                                height: 600px;
                                border-top: 1px solid #f3f3f3;
                                border-bottom: 1px solid #f3f3f3;
                                background-color: #f9f9f9;
                                float: right;
                                margin-right: 0.5%;
                            }
                        }
                        
                        @media screen and (min-width: 600px) {
                            .component {
                                width: 47%;
                                float: right;
                                height: 600px;
                                border-top: 1px solid #f3f3f3;
                                border-bottom: 1px solid #f3f3f3;
                                background-color: #f9f9f9;
                                margin-right: 2%;
                                /* border: 1px solid black; */
                            }
                        }
                        /* hover for edit tools */
                        
                        .editbtn {
                            display: none;
                            width: 10px;
                            height: 10px;
                        }
                        
                        .component:hover>.editbtn {
                            display: inline-block;
                        }
                        /* editor */
                        
                        #editor {
                            border: 1px solid #f3f3f3;
                            background-color: #ffffff;
                            position: absolute;
                            width: 70%;
                            height: auto;
                            z-index: 999;
                            margin-left: auto;
                            margin-right: auto;
                            left: 200px;
                            top: 50px;
                        }
                        /* editor enviorment */
                        
                        #editor-enviorment {
                            width: 100%;
                            height: 100%;
                        }
                        
                        #main-editor {
                            width: 100%;
                            height: 100%;
                        }
                        /* editor tab */
                        
                        #editor-tab {
                            width: 100%;
                            height: 30px;
                        }
                        
                        #editor-tab ul li {
                            display: inline-block;
                            margin-right: 20px;
                        }
                        
                        #editor-tab ul li a {
                            display: inline-block;
                            font-size: 12px;
                        }
                        /* mods */
                        
                        #mods {
                            width: 100%;
                            height: 400px;
                        }
                        
                        #editor-mod {
                            float: right;
                            width: 100%;
                            height: 400px;
                        }
                        
                        #editor-desk {
                            width: 100%;
                            height: 100%;
                        }
                        
                        #edit-option {
                            float: right;
                            width: 100%;
                            height: 10%;
                        }
                        
                        #edit-option ul li {
                            width: 5%;
                            height: 100%;
                            display: inline-block;
                        }
                        
                        #edit-option ul li a {
                            font-size: 12px;
                        }
                        
                        #editor-area {
                            float: right;
                            width: 100%;
                            margin-top: 10px;
                            height: 87%;
                        }
                        
                        #editor-controller {
                            width: 99.5%;
                            height: 100%;
                        }
                        /* editor mod option */
                        
                        #html-code {
                            display: none;
                            float: right;
                            width: 100%;
                            height: 400px;
                        }
                        
                        #html-code textarea {
                            direction: ltr;
                            width: 99.5%;
                            overflow: hidden;
                            height: 100%;
                        }
                        /* save and close btn */
                        
                        #save-close {
                            align-content: center;
                        }
                        
                        #save-edit,
                        #exit-editor {
                            border: 1px solid #eeeeee;
                            background-color: #eeeeee;
                            margin-top: 20px;
                        }